.homePageContainer{
  margin-top: 30px;
}

.homePageWelcomeCard{
  padding: 15px;
}

.homePageCard{
  margin-bottom: 20px;
}

.homePageCardBody{
  padding:10px 10px 0 15px;
}

.homePageUserIcon{
  background: #e6f7ff;
  border: 1px solid #3985b3;
  color: #3985b3;
  border-radius: 100%;
  padding: 10px;
}