@import url("https://openlayers.org/en/v6.3.1/css/ol.css");
@import url("https://unpkg.com/ol-layerswitcher@3.5.0/src/ol-layerswitcher.css");

.hazardSheetCard .ant-card-head, .hazardSheetCard .ant-card-head-title{
  padding:0 !important;
  margin:0 !important;
  min-height: 0 !important;
}

.hazardSheetHeaderCard .ant-card-body{
  display:none !important;
}

.hazardSheetHeaderCard .ant-card-head{
  padding:5px 15px 5px 15px;
}

#buildpack_map, #networkdiagram_map {
  width: 97%;
  height: 91vh;
  border:1px solid #bcbcbc;
}

.buildPackSidebar{
  height: 91vh;
}

.buildPackSidebar .ant-card-head{
  padding: 3px 17px 3px 12px;
}

.BuildPackModal .ant-modal-footer {
  padding-top: 15px;
  padding-bottom: 15px;
  display:none
}

.ol-scale-bar {
  left: 48%;
  transform: translate(-48%, 0);
  -ms-transform: translate(-48%, 0)
}

.googleLayer{
  filter:grayscale(100%);
}

.splicingDataErrorInformation{
  width: 97%;
  height: 91vh;
  border:1px solid #bcbcbc;
  background-color:white;
}