.diagramMinimap {
  width: 160px;
  height: 100px;
  background: white;
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
  border: 1px solid black;
}

.cableDiagramCard > .ant-card-head {
  background: #f3f2f2;
}

.selectedNodeContainer {
  padding: 10px;
  background: lightcyan;
  border-radius: 7px;
}

.closureTypeCircle .ant-badge-status-dot {
  height: 12px;
  width: 12px;
  margin-right: 3px;
  margin-bottom: 2px;
  border: 1px solid #5d5d5d;
}

.ant-tree .ant-tree-node-content-wrapper.ant-tree-node-selected {
  background-color: #eef9ff;
  border: 1px solid #bae7ff;
}

.CableDiagramSidebarCard .ant-card-head {
  /*border-bottom: 0;*/
  padding: 0 12px;
}